[Unit]
Description=Shipping Label Printing
After=network.target
StartLimitIntervalSec=30

[Service]
Type=simple
Restart=always
RestartSec=1
User=nimbleprint
ExecStart=/home/nimbleprint/print-label.sh

[Install]
WantedBy=multi-user.target
